/* https://endtimes.dev/no-javascript-dark-mode-toggle/ */

@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
  text-decoration-skip-ink: auto;
  position: relative;
}
div {
  border-color: currentColor;
}
blockquote,
body,
button,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
input,
li,
ol,
p,
ul {
  margin: 0;
}
html {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-tap-highlight-color: transparent;
}
button,
input,
select,
textarea {
  font: inherit;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
  }
}
.inset,
:after,
:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:after,
:before {
  pointer-events: none;
}
.page,
body,
html,
main {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
.wrapper,
article,
footer,
main header,
section {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0.75rem 2px;
}
.wrapper > * + *,
article > * + *,
footer > * + *,
main header > * + *,
section > * + * {
  margin-top: 1rem;
}
@media (min-width: 320px) {
  .wrapper,
  article,
  footer,
  main header,
  section {
    padding: 1.77rem 0.56rem;
  }
}
#tada-text,
.action-button,
.block,
.label-input,
blockquote,
figure,
h1,
h2,
h3,
h4,
li,
p,
table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 35rem;
  position: relative;
}
.inline {
  display: initial;
  margin: initial;
  width: auto;
}
#tada-text,
.center,
.dropdown > label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  padding-bottom: 2.36rem;
  min-height: 100vh;
}
footer {
  padding-top: 2.36rem;
}
ol,
ul {
  padding: 0;
}
.inset {
  max-width: none;
}
:root {
  --t: #111;
  --g: #fff;
  --b: #f8f5f2;
  --ba: #f1eae4;
  --s: #e2d7ca;
  --bo: #dcb;
  --bs: #ba9;
  --u: #acd;
  --uh: #9bd;
  --ut: #001;
  --ub: transparent;
  --ib: #acd;
  --it: #000;
  --i: #fff;
  --a: #e98;
  --ah: #e87;
  --at: #100;
  --ab: transparent;
  --as: #d54;
  --f: #31a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --t: #edd;
    --g: #433d3e;
    --b: #2d2a2a;
    --ba: #322e2f;
    --s: #231d1e;
    --bo: #181616;
    --bs: #000;
    --ib: #d82;
    --it: #fff;
    --i: #3d4340;
    --u: #d82;
    --uh: #c82;
    --ut: #000;
    --f: #fc4;
  }
}
body {
  background: #f1eae4;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #322e2f;
  }
}
* #dark:checked ~ * {
  --t: #edd;
  --t: #edd;
  --g: #615656;
  --b: #413a3a;
  --ba: #473f3f;
  --s: #322929;
  --bo: #221c1c;
  --bs: #000;
  --ib: #d82;
  --it: #fff;
  --i: #3d4340;
  --u: #d82;
  --uh: #c82;
  --ut: #000;
  --f: #eecc53;
}
@media (prefers-color-scheme: dark) {
  * #dark:checked ~ * {
    --t: #111;
    --g: #fff;
    --b: #f8f5f2;
    --ba: #f1eae4;
    --s: #e2d7ca;
    --bo: #dcb;
    --bs: #ba9;
    --ib: #acd;
    --it: #000;
    --i: #fff;
    --u: #acd;
    --uh: #9bd;
    --ut: #001;
    --f: #31a;
  }
}
#vegas:checked ~ * {
  --t: #fff;
  --g: #064;
  --b: #004a3b;
  --ba: #054;
  --s: #043;
  --bo: #eff;
  --u: #912;
  --uh: #812;
  --ut: #fff;
  --ib: #912;
  --i: #043;
  --it: #fff;
  --a: #ea2;
  --ah: #e90;
  --at: #000;
  --as: #b61;
  --f: #fff;
}
#party:checked ~ * {
  --t: #000;
  --g: #fdc3c9;
  --b: #fda7af;
  --ba: #fc9ca5;
  --s: #fa8995;
  --bo: #f78;
  --bs: #e46;
  --u: #63e3d4;
  --uh: #4dc;
  --ut: #000;
  --ub: transparent;
  --i: #fed7db;
  --it: #000;
  --ib: #63e3d4;
  --a: #bdceeb;
  --ah: #a1b9e2;
  --at: #000;
  --as: #638bcf;
  --f: #018;
}
#dd:checked ~ * {
  --t: #ddccbb;
  --g: #561d25;
  --b: #2e0f13;
  --ba: #270d10;
  --s: #17080a;
  --bo: #4d1920;
  --sh: #000;
  --u: #ba6;
  --uh: #a94;
  --ut: #000;
  --i: #ddc;
  --it: #000;
  --ib: #ba6;
  --a: #d0c7b3;
  --ah: #c9bea6;
  --at: #600;
  --as: #65593e;
  --f: #eba;
}
#hc:checked ~ * {
  --t: #fff;
  --g: #000;
  --b: #000;
  --ba: #000;
  --s: #000;
  --bo: #fff;
  --bs: #000;
  --u: #000;
  --uh: #000;
  --ub: #ff0;
  --ut: #fff;
  --ib: #ff0;
  --it: #fff;
  --i: #000;
  --a: #000;
  --ah: #000;
  --ab: #f0f;
  --at: #f0f;
  --as: #f0f;
  --f: #0f0;
}
#hc:checked ~ * ::selection {
  color: #000;
  background: #fff;
}
#hc:checked ~ * a {
  color: #0ff;
  text-decoration-style: solid;
}
#hc:checked ~ * .header-box {
  padding-left: 0;
}
.color-wrap {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background: var(--b);
  color: var(--t);
}
.bg-base {
  background: #f8f5f2;
  background: var(--b);
}
.bg-base-alt {
  background: #f1eae4;
  background: var(--ba);
}
.bg-glare {
  background: #fff;
  background: var(--g);
}
.bg-shade {
  background: #e2d7ca;
  background: var(--s);
}
.fill-shade {
  fill: #e2d7ca;
  fill: var(--s);
}
.fill-base {
  fill: #f8f5f2;
  fill: var(--b);
}
.fill-glare {
  fill: #fff;
  fill: var(--g);
}
.stroke-text {
  stroke: #111;
  stroke: var(--t);
}
:root {
  line-height: 1.5;
  font-size: 16px;
  font-size: clamp(12px, 2vw, 18px);
}
.font-base,
:root,
code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}
.font-text,
.text-content p {
  font-family: BlinkMacSystemFont, avenir next, avenir, helvetica neue,
    helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
h1 {
  font-size: 2.36rem;
}
a {
  text-decoration: underline dotted;
  color: #111;
  color: var(--t);
}
a:hover {
  text-decoration: underline solid;
}
.text-content {
  padding: 3.15rem 0.75rem;
  width: 100%;
  background: #f8f5f2;
  background: var(--b);
}
.text-content > * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.text-content > * + h2,
.text-content > * + h3,
.text-content > * + h4 {
  margin-top: 3.15rem;
}
.text-content ul {
  list-style: none;
  padding: 0;
}
code {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: #f1eae4;
  background: var(--ba);
  padding: 0.1em 0.2em;
  font-size: 0.75rem;
  border-radius: 4px;
}
pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
}
table {
  display: table;
  border-collapse: collapse;
  border-style: hidden;
}
th {
  text-align: left;
}
table td,
table th {
  border-top: solid 2px #f1eae4;
  border-top: solid 2px var(--ba);
  padding: 4px 8px 4px 0;
}
.input,
input {
  border: solid 2px #000;
  border: solid 2px var(--ib);
  box-shadow: inset 0 2px #dcb, 0 2px #dcb;
  box-shadow: inset 0 2px var(--bs), 0 2px var(--bs);
  background: #fff;
  background: var(--i);
  color: #000;
  color: var(--it);
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.42rem;
  margin: 0;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 0.56rem;
  right: 0.56rem;
  opacity: 0.001;
}
.label-input {
  padding: 0.56rem;
  background: #f1eae4;
  background: var(--ba);
  border: solid 2px #ba9;
  border: solid 2px var(--bo);
  border-radius: 6px;
}
.label-input label {
  margin-right: auto;
  cursor: pointer;
}
.hint {
  font-size: 0.75rem;
  display: block;
}
#dark:focus ~ * #dark-label,
#dd:focus ~ * #dd-label,
#hc:focus ~ * #hc-label,
#light:focus ~ * #light-label,
#party:focus ~ * #party-label,
#vegas:focus ~ * #vegas-label,
.focus,
.label-input:focus-within,
.number-input button:focus:after,
:focus,
input[type="checkbox"]:focus + label {
  outline: 2px dashed #31a;
  outline: 2px dashed var(--f);
  outline-offset: 2px;
  z-index: 100;
}
.site-head {
  padding: 4px 0.56rem 4px 4px;
  background: var(--head);
  display: flex;
  background: #f1eae4;
  background: var(--ba);
  border-bottom: dotted 2px #ba9;
  border-bottom: dotted 2px var(--bo);
  gap: 1em;
}
.site-head a {
  display: inline-flex;
  align-items: center;
  color: var(--t);
  height: 3.15rem;
  font-size: 1rem;
  margin-top: 3px;
}
.site-head a svg {
  height: 3.15rem;
  margin: 0 4px 0 0;
}
.site-head a:first-child {
  margin-right: auto;
}
@media (prefers-color-scheme: dark) {
  .dark-mode-hide {
    display: none;
  }
}
.light-mode-hide {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .light-mode-hide {
    display: initial;
  }
}
@media (max-width: 420px) {
  .mobile-hide {
    display: none !important;
  }
}
#tada-text,
.center,
.dropdown > label .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-self {
  margin-left: auto;
  margin-right: auto;
}
.full {
  width: 100%;
}
.control-box > * + *,
.flow > * + *,
.hidden-items > * + *,
.text-content > * + * {
  margin-top: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.action-button > *,
.pattern > * {
  position: relative;
  z-index: 1;
}
.action-button:before,
.pattern:before {
  content: "";
  background-color: #e2d7ca;
  background-color: var(--set, var(--s));
  position: absolute;
  display: block;
  z-index: 0;
  max-width: none;
}
.action-button:before,
.stripes:before {
  --stripes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpattern id='s' width='4' height='4' viewBox='0 0 4 4' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Cpath d='M -1 2 h6 v2 h-6z'/%3E%3C/pattern%3E%3Crect fill='url(%23s)' height='100%25' width='100%25'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--stripes);
  mask-image: var(--stripes);
}
.pin-stripes:before {
  --pin: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='e' width='4' height='4' viewBox='0 0 8 8' patternUnits='userSpaceOnUse' patternTransform='rotate(45) '%3E%3Cpath fill='%23E1DACB' d='M -1 2 h9 v2 h-9z'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23e)' height='100%25' width='100%25'/%3E%3C/svg%3E");
  -webkit-mask-image: var(--pin);
  mask-image: var(--pin);
}
.hide {
  display: none;
}
.h-borders {
  border-top: solid 1px var(--set, var(--s));
  border-bottom: solid 1px var(--set, var(--s));
}
.b-border {
  border-bottom: solid 1px var(--set);
}
.borders {
  border: solid 2px var(--set);
}
.header-box {
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.2em 0.4em;
  background: #fff;
  background: var(--g);
}
.tool {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}
.tool > * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.result-text {
  border-radius: 4px;
  border: dashed 2px var(--s);
  padding: 0.75rem;
  width: 100%;
  font-size: 1.77rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.radio > label {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  box-sizing: border-box;
  border: solid 2px transparent;
  background: #f8f5f2;
  background: var(--b);
}
.radio > label:hover {
  background: #fff;
  background: var(--g);
  border: solid 2px transparent;
  border: solid 2px var(--ub);
}
.radio > label:after {
  content: "";
  position: relative;
  display: flex;
  height: 18px;
  width: 18px;
  border-radius: 2rem;
  margin-left: 1rem;
  border: solid 2px #111;
  border: solid 2px var(--t);
  box-shadow: 0 2px #e2d7ca, inset 0 2px #e2d7ca;
  box-shadow: 0 2px var(--s), inset 0 2px var(--s);
}
#dark:checked ~ * #dark-label:after,
#dd:checked ~ * #dd-label:after,
#hc:checked ~ * #hc-label:after,
#light:checked ~ * #light-label:after,
#party:checked ~ * #party-label:after,
#vegas:checked ~ * #vegas-label:after,
.radio-checked,
.radio > input:checked + label:after {
  box-shadow: 0 2px #e2d7ca, inset 0 2px #e2d7ca, inset 0 0 0 3px #f8f5f2,
    inset 0 0 0 1rem #111;
  box-shadow: 0 2px var(--s), inset 0 2px var(--s), inset 0 0 0 3px var(--b),
    inset 0 0 0 1rem var(--t);
}
.dropdown {
  background: #f1eae4;
  background: var(--ba);
  border-radius: 6px;
}
.dropdown > input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
}
.dropdown > label {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: solid 2px #ba9;
  border: solid 2px var(--bo);
}
.dropdown > label:hover {
  background: #e2d7ca;
  background: var(--s);
}
.dropdown > label .icon {
  background: #acd;
  background: var(--u);
  box-shadow: 0 2px #e2d7ca;
  box-shadow: 0 2px var(--s);
  color: #001;
  color: var(--ut);
  height: 1.77rem;
  width: 1.77rem;
  border-radius: 2rem;
  border: solid 2px var(--ui-border);
  position: relative;
  margin-left: 1rem;
}
.dropdown > label .icon:after {
  content: "";
  position: static;
  width: 0.56rem;
  height: 0.56rem;
  transform: rotate(135deg);
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  margin-top: -2px;
}
.dropdown > label:active {
  transform: translateY(1px);
}
.dropdown input[type="checkbox"]:checked + label {
  border-radius: 4px 4px 0 0;
}
.dropdown input[type="checkbox"]:checked + label .icon:after {
  transform: rotate(-45deg);
  margin-top: 3px;
}
.dropdown input[type="checkbox"]:checked + label .closed-label {
  display: none;
}
.dropdown input[type="checkbox"]:checked + label .open-label {
  display: inline;
}
.open-label {
  display: none;
}
.hidden-items {
  display: none;
  padding: 0.56rem;
  background: #f8f5f2;
  background: var(--b);
  border: solid 2px #ba9;
  border: solid 2px var(--bo);
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
input[type="checkbox"]:checked ~ .hidden-items {
  display: block;
}
.color-picker .hidden-items {
  left: 0;
  right: 0;
}
@media (min-width: 80em) {
  .color-picker .hidden-items {
    position: absolute;
    z-index: 99;
  }
}
.color-picker,
.theme-box {
  display: none;
}
@supports (--v: a) {
  .color-picker,
  .theme-box {
    display: block;
  }
}
.control-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.control-box > * {
  width: 100%;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
.bunch {
  --space: 1rem;
}
.bunch#tada-text > *,
.bunch.center > *,
.bunch > *,
.dropdown > label .bunch.icon > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}
.bunch#tada-text > *,
.bunch.center > *,
.dropdown > label .bunch.icon > * {
  justify-content: center;
  text-align: center;
}
.bunch.between > * {
  justify-content: space-between;
}
.bunch.nowrap {
  flex-wrap: nowrap;
}
.bunch-200 > * > *,
.bunch > * > * {
  margin: calc(var(--space) / 2);
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type="number"] {
  width: 4rem;
  text-align: center;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.number-input {
  display: inline-flex;
  touch-action: manipulation;
  box-shadow: 0 2px #dcb;
  box-shadow: 0 2px var(--bs);
  border-radius: 6px;
}
.number-input button {
  background: #acd;
  background: var(--u);
  border: solid 2px transparent;
  border: solid 2px var(--ub);
  color: #001;
  color: var(--ut);
  width: 2.36rem;
}
.number-input button:first-of-type,
.number-input button:first-of-type:after {
  border-radius: 6px 0 0 6px;
}
.number-input button:last-of-type,
.number-input button:last-of-type:after {
  border-radius: 0 6px 6px 0;
}
.number-input button:hover {
  background: #9bd;
  background: var(--uh);
}
.number-input button:active {
  transform: translateY(1px);
}
.number-input button:focus {
  outline: 0;
}
.number-input button:after {
  content: "";
  border-radius: 6px;
  z-index: 100;
}
.number-input button:focus:after {
  outline-offset: 4px;
}
.number-input button:first-of-type:after {
  right: -2px;
}
.number-input button:last-of-type:after {
  left: -2px;
}
.number-input div {
  background: #acd;
  background: var(--u);
  border-left: 0;
  border-right: 0;
}
.number-input input {
  max-width: none;
  flex: 1;
  border: solid 2px #acd;
  border: solid 2px var(--u);
  box-shadow: inset 0 2px #dcb;
  box-shadow: inset 0 2px var(--bs);
  color: #000;
  color: var(--it);
}
#hc:checked ~ * .number-input input {
  border-color: var(--ub);
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.dice {
  padding: 1.77rem 0.75rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dice svg {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
@media (min-width: 37em) {
  .dice svg {
    width: 10vw;
    height: 10vw;
  }
}
.dice.lots-of-dice svg {
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
}
@media (min-width: 37em) {
  .dice.lots-of-dice svg {
    width: 5vw;
    height: 5vw;
  }
}
#vegas:checked ~ * .dice {
  --glare: #b71c1c;
  --base: #9f1515;
  --shade: #7f0000;
  --text: #fff;
}
.dice {
  --text: #17130d;
  --glare: #fff;
  --base: #f7fafc;
  --shade: #cbd5e0;
}
@media (prefers-color-scheme: dark) {
  .dice {
    --text: #17130d;
    --glare: #d1cbc7;
    --base: #bfb6b0;
    --shade: #3a434c;
  }
}
#dark:checked ~ .color-wrap .dice {
  --text: #17130d;
  --glare: #d1cbc7;
  --base: #bfb6b0;
  --shade: #3a434c;
}
@media (prefers-color-scheme: dark) {
  #dark:checked ~ .color-wrap .dice {
    --text: #17130d;
    --glare: #fff;
    --base: #f7fafc;
    --shade: #cbd5e0;
  }
}
#dd:checked ~ * .dice {
  --text: #2e0f13;
  --glare: #d8d0c0;
  --base: #d0c7b3;
  --shade: #66583d;
}
#party:checked ~ * .dice {
  --glare: #e0e8f5;
  --shade: #84a4d7;
}
#hc:checked ~ * .dice {
  --text: #fff;
  --glare: #000;
  --shade: #00f;
}
#hc:checked ~ * .dice path:first-of-type {
  stroke: #00f;
  stroke-width: 1;
}
.roll-1 {
  transform: translateY(-300%) rotate(20deg);
  animation: roll1 1.3s both;
}
.roll-2 {
  transform: translateY(-300%) rotate(-20deg);
  animation: roll1 1.3s both;
}
@keyframes roll1 {
  0% {
    transform: translateY(-300%) rotate(20deg);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0) rotate(-20deg);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-70%) rotate(0);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0) rotate(15deg);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-40%) rotate(0);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0) rotate(-8deg);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-10%) rotate(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0) rotate(0);
    animation-timing-function: ease-out;
  }
}
@keyframes roll2 {
  0% {
    transform: translateY(-300%) rotate(-20deg);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateY(0) rotate(20deg);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-70%) rotate(0);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0) rotate(-15deg);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-40%) rotate(0);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0) rotate(8deg);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-10%) rotate(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0) rotate(0);
    animation-timing-function: ease-out;
  }
}
.tada {
  padding: 0;
  background: #fff;
  background: var(--g);
  border-top: solid 2px #ba9;
  border-top: solid 2px var(--bo);
  text-align: center;
  font-size: 1.33rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px;
  align-items: center;
}
.tada.highlight #tada-text {
  border: 8px dotted #e98;
  border: 8px dotted var(--a);
}
#tada-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.2rem;
  padding: 0.75rem 0.56rem;
  border: 8px dotted #f8f5f2;
  border: 8px dotted var(--b);
  background: #fff;
  background: var(--g);
  border-radius: 4px;
}
.action-button {
  --set: var(--a);
  position: relative;
  background: 0 0;
  color: #100;
  color: var(--at);
  border-radius: 6px;
  border: 0;
  box-shadow: inset 0 -8px 0 0 #d54, 0 2px #dcb;
  box-shadow: inset 0 -8px 0 0 var(--as), 0 2px var(--bs);
  padding: 1rem 4px calc(1rem + 4px);
  font-size: 1.77rem;
  font-weight: 700;
  overflow: hidden;
}
.action-button:before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 2px;
  left: 2px;
  right: 2px;
  height: 4px;
  border-radius: 0 0 4px 4px;
  z-index: 4;
}
.action-button:after {
  content: "";
  position: absolute;
  background-color: #e98;
  background-color: var(--a);
  border: solid 2px transparent;
  border: solid 2px var(--ab);
  border-radius: 6px;
  bottom: 8px;
}
.action-button span {
  display: block;
}
.action-button:hover {
  box-shadow: inset 0 -7px 0 0 #d54, 0 1px #dcb;
  box-shadow: inset 0 -7px 0 0 var(--as), 0 1px var(--bs);
}
.action-button:hover:after {
  background-color: #e87;
  background-color: var(--ah);
  transform: translateY(1px);
}
.action-button:hover:before {
  height: 3px;
}
.action-button:hover > span {
  transform: translateY(1px);
}
.action-button:active {
  box-shadow: inset 0 -5px 0 0 #d54;
  box-shadow: inset 0 -5px 0 0 var(--as);
}
.action-button:active:before {
  height: 1px;
}
.action-button:active:after {
  transform: translateY(3px);
}
.action-button:active > span {
  transform: translateY(3px);
}
